<ion-toolbar color="primary">
  <ion-icon role="button" class="ion-margin-start" slot="start" name="chevron-back" (click)="back.emit()"> </ion-icon>
  <ion-datetime-button [datetime]="identifier"></ion-datetime-button>
  <ion-icon role="button" class="ion-margin-end" slot="end" name="chevron-forward" (click)="forward.emit()"> </ion-icon>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime presentation="month-year" [id]="identifier" [showDefaultButtons]="true" [value]="date"> </ion-datetime>
    </ng-template>
  </ion-modal>
</ion-toolbar>
