<section class="transaction-container">
  <section class="transaction-container--detail" *ngFor="let category of categories; let i = index; trackBy: id">
    <div class="progress" (click)="detailSelected.emit(category)">
      <section class="progress--content">
        <div class="category-name">
          <ng-container *ngIf="category.category.iconName">
            <ion-icon slot="start" size="large" [name]="category.category.iconName" [color]="category.category.color">
            </ion-icon>
          </ng-container>

          <ng-container *ngIf="category.category.svgContent">
            <ion-icon slot="start" size="large" [src]="category.category.svgContent" [color]="category.category.color">
            </ion-icon>
          </ng-container>

          <ion-label>{{ category.category.label }}</ion-label>
        </div>

        <div class="amount">
          <ion-label [color]="category.category.color">
            {{ category.category.type === 'expense' ? '-' : '' }} {{ category.total | currency }}
          </ion-label>
        </div>
      </section>
      <app-static-progress-bar [color]="colors[i]" [progress]="getPercentage(category)"></app-static-progress-bar>
    </div>
  </section>
</section>
