<ion-toolbar *ngIf="transactions?.size" color="primary">
  <section class="balance-info">
    <div class="balance-info__info">
      <span class="success">Income</span>
      <span>{{ currencySymbol }}{{ balance.income.toLocaleString() }}</span>
    </div>
    <div class="balance-info__info">
      <span class="danger">Expenses</span>
      <span>{{ currencySymbol }}{{ balance.expense.toLocaleString() }}</span>
    </div>
    <div class="balance-info__info">
      <span class="total">Total</span>
      <span>{{ currencySymbol }}{{ balance.total.toLocaleString() }}</span>
    </div>
  </section>
</ion-toolbar>
