<ng-container *ngIf="transactions?.length; else noTransactions">
  <ion-list [inset]="true" lines="inset">
    <ion-item *ngFor="let transaction of transactions">
      <ion-label>{{ transaction?.category }}</ion-label>
      <ion-label>{{ transaction?.description }}</ion-label>
    </ion-item>
  </ion-list>
</ng-container>

<ng-template #noTransactions>
  <section class="no-transactions">
    <ion-item lines="none">
      <ion-label>No transactions registered for this month</ion-label>
      <ion-icon name="alert-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </section>
</ng-template>
