<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Transactions</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-icon name="bar-chart" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ng-container *ngIf="balance$ | async as balance">
    <ion-toolbar color="primary">
      <section class="balance-info">
        <div class="balance-info__info">
          <span class="success">Income</span>
          <span>{{ balance.income | currency }}</span>
        </div>
        <div class="balance-info__info">
          <span class="danger">Expenses</span>
          <span>{{ balance.expense | currency }}</span>
        </div>
        <div class="balance-info__info">
          <span class="total">Total</span>
          <span>{{ balance.total | currency }}</span>
        </div>
      </section>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <ng-container *ngIf="transactions$ | async as transactions">
    <app-transaction-list [transactions]="transactions"></app-transaction-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="primary" (click)="onAddTransaction()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
