<ng-container *ngIf="currentDate$ | async as currentDate">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>Analytics</ion-title>
    </ion-toolbar>

    <app-date-navigation identifier="monthyear2" [date]="currentDate.toISOString()" (back)="back(currentDate)" (forward)="forward(currentDate)">
    </app-date-navigation>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ng-container *ngIf="pieChartConfig$ | async as config">
          <section class="pie-chart">
            <plotly-plot [data]="config.data" [layout]="config.layout" [config]="config.config"></plotly-plot>
          </section>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
