<ng-container *ngIf="currentDate$ | async as currentDate">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Analytics</ion-title>
    </ion-toolbar>

    <app-date-navigation
      identifier="monthyear2"
      [date]="currentDate.toISOString()"
      (back)="back(currentDate)"
      (forward)="forward(currentDate)">
    </app-date-navigation>
  </ion-header>
  <ion-content>
    <ng-container *ngIf="overallChartConfig$ | async as config">
      <ion-select
        *ngIf="existsData(config.data)"
        label="Chart selection"
        labelPlacement="floating"
        interface="action-sheet"
        fill="outline"
        [value]="optionSelected"
        [interfaceOptions]="customActionSheetOptions"
        (ionChange)="onChange($event)">
        <ion-select-option value="overview"> Overview Chart </ion-select-option>
        <ion-select-option value="income"> Income Chart </ion-select-option>
        <ion-select-option value="expense"> Expense Chart </ion-select-option>
      </ion-select>

      <ion-grid>
        <ion-row *ngIf="optionSelected === 'overview'" class="ion-justify-content-center">
          <section class="pie-chart" *ngIf="existsData(config.data); else noData">
            <app-plot [config]="config"></app-plot>
          </section>
        </ion-row>

        <ion-row *ngIf="optionSelected === 'income'" class="ion-justify-content-center">
          <ng-container *ngIf="incomeChartConfig$ | async as incomeConfig">
            <app-plot-detail
              message="No incomes registered yet"
              [plotConfig]="incomeConfig"
              [colors]="incomeColors"
              [transactionDetailMap]="(incomeDetail$ | async)!"
              (detailSelected)="onDetailSelected($event)">
            </app-plot-detail>
          </ng-container>
        </ion-row>

        <ion-row *ngIf="optionSelected === 'expense'" class="ion-justify-content-center">
          <ng-container *ngIf="expenseChartConfig$ | async as expenseConfig">
            <app-plot-detail
              message="No expenses registered yet"
              [plotConfig]="expenseConfig"
              [colors]="expenseColors"
              [transactionDetailMap]="(expenseDetail$ | async)!"
              (detailSelected)="onDetailSelected($event)">
            </app-plot-detail>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-content>
</ng-container>

<ng-template #noData>
  <section class="no-data">
    <ion-item lines="none">
      <ion-label>No data available for this month</ion-label>
      <ion-icon name="alert-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </section>
</ng-template>
